body {
	background-color: #d3efe2;	/*#eee3f7*/ 
}
h1 {
	font-family: sans-serif arial;
	color: 
}
canvas {
 	overflow: hidden;
	background-position: center;
	background-size: cover;
	width: 500px;
	height: 500px;
  	border : 1px solid gray;
	background-color: white;
	/*background-image: '';*/

}
#grad {
	    opacity: 0.8;
		color: white;
	    font-family: arial;
	  	background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
.btn-light  {
	opacity: 0.7;
}